<footer>
    <div class="container footer-grid">
        <div class="footer-col brand">
            <img src="../public/WID - 3.svg" alt="WID Logo" style="height: 50px;">
            <p>Subscribe to our newsletter</p>
            <form class="newsletter-form">
                <input type="email" placeholder="Email">
            </form>
        </div>
        
        <div class="footer-col contact">
            <h4>Contact</h4>
            <p>Email: womenindesignug@gmail.com</p>
            <p>Call: +256 775 602 334</p>
            <p>Call: +256 751 788 787</p>
        </div>

        <div class="footer-col links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="DesignerNew.html">Find Designers</a></li>
                <li><a href="SuppliersNew.html">Connect to Suppliers</a></li>
                <li><a href="EventsNew.html">Annual Events</a></li>
                <li><a href="programsNew.html">Our Programs</a></li>
                <li><a href="#">Become a Member</a></li>
            </ul>
        </div>
    </div>
    <div class="container copyright">
        <p>2025 Copyrights © Women In Design</p>
        <div class="socials">
            <span>INSTAGRAM</span>
            <span>X/TWITTER</span>
            <span>YOUTUBE</span>
        </div>
    </div>
</footer>