<nav class="navbar">
    <div class="logo">
        <img src="../public/WID - 3.svg" alt="WID Logo" style="height: 50px;">
    </div>
    <ul class="nav-links">
        <li><a href="home.html">Home</a></li>
        <li><a href="DesignerNew.html">Designers</a></li>
        <li><a href="SuppliersNew.html">Suppliers</a></li>
        <li><a href="programsNew.html">Programs</a></li>
        <li><a href="EventsNew.html">Events</a></li>
        <li><a href="AboutNew.html">About</a></li>
        <li><a href="media.html">Media</a></li>
    </ul>
    <div class="auth-buttons">
        <a href="#">Login</a>
        <a href="#" class="join-btn">Join WiD</a>
    </div>
</nav>